<div [ngClass]="{'container': this.from !== 'compra'}">
  <div class="row">
    <!-- <div *ngIf="!this.dataToShow">
      <h5 class="text-center">Cargando...</h5>
    </div> -->
    <div *ngIf="this.dataToShow && checkIfIsArray(this.dataToShow) && checkIfThereIsObject(this.dataToShow)">
      <table class="table highlight">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Último</th>
            <th>Dif.</th>
            <th>Dif.%</th>
            <th>Máximo</th>
            <th>Mínimo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let valor of this.dataToShow">
            <td>{{valor.name}}</td>
            <td>
              <span>{{valor.lastPrice.amount}}</span>
              <span>{{valor.lastPrice.badge}}</span>
            </td>
            <td>{{valor.difference}}</td>
            <td>{{valor.differencePorcentage}} %</td>
            <td>{{valor.max}}</td>
            <td>{{valor.min}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
