<div class="row">
  <div class="col l4">
    <input auto-complete type="text" placeholder="Busque un valor" name="buscadorValores" [(ngModel)]="this.variableModule" [source]="this.data" display-property-name="name" [list-formatter]="autocompleListFormatter" (ngModelChange)="sendValorToParent($event)"/>
  </div>
</div>
