<div class="container col l12">
  <div class="row">
    <div class="col l12">
      <oip-valores-buscador (valor)="this.captureEvent($event)"></oip-valores-buscador>
    </div>
    <div class="col l5">
      <table-one [data]="this.valor" [from]="'compra'"></table-one>
    </div>
  </div>
  <div class="row" *ngIf="this.valor">
    <form [formGroup]="compraForm" (ngSubmit)="onSubmit(compraForm.value)">
      <div class="row">
        <div class="input-field col s4">
          <input type="number"
                 name="numeroTitulos"
                 [formControl]="compraForm.controls['numeroTitulos']"
                 pattern="[1-9][0-9]*"
                 (blur)="onBlur('numeroTitulos')"
                 (focus)="onFocus('numeroTitulos')"
                 [ngClass]="{'invalid':!compraForm.controls['numeroTitulos'].valid && compraForm.controls['numeroTitulos'].touched, 'valid': compraForm.controls['numeroTitulos'].valid && compraForm.controls['numeroTitulos'].touched}"
                 required>
          <label for="numeroTitulos"> Numero de títulos</label>
          <span *ngIf="!this.focusNumeroTitulos && compraForm.controls['numeroTitulos'].errors && compraForm.controls['numeroTitulos'].errors.required && compraForm.controls['numeroTitulos'].touched" [@fadeInOut] class="xs-text error-color">Campo requerido</span>
          <span *ngIf="!this.focusNumeroTitulos && compraForm.controls['numeroTitulos'].errors && compraForm.controls['numeroTitulos'].errors.min" [@fadeInOut] class="xs-text error-color">Este campo no admite valores por debajo de 1</span>
          <span *ngIf="!this.focusNumeroTitulos && compraForm.controls['numeroTitulos'].errors && compraForm.controls['numeroTitulos'].errors.max" [@fadeInOut] class="xs-text error-color">Este campo no admite valores mayores que 99999</span>
          <span *ngIf="!this.focusNumeroTitulos && compraForm.controls['numeroTitulos'].errors && compraForm.controls['numeroTitulos'].errors.pattern && compraForm.controls['numeroTitulos'].value.toString().indexOf('.') > -1" [@fadeInOut] class="xs-text error-color">Este campo no admite decimales</span>
        </div>
      </div>
      <div class="row">
        <div class=" input-field col s4">
          <input type="{{ this.focusFecha || compraForm.controls['fecha'].value ? 'date':'text'}}"
                 name="fecha"
                 [formControl]="compraForm.controls['fecha']"
                 (blur)="onBlur('fecha')"
                 (focus)="onFocus('fecha', this)"
                 [ngClass]="{'invalid':!compraForm.controls['fecha'].valid && compraForm.controls['fecha'].touched, 'valid': compraForm.controls['fecha'].valid && compraForm.controls['fecha'].touched}">
          <label for="fecha" [ngClass]="{'color-transparent': this.focusFecha || compraForm.controls['fecha'].value}">Fecha de vigencia</label>
          <span *ngIf="this.focusFecha && compraForm.controls['fecha'].errors && compraForm.controls['fecha'].errors.required && compraForm.controls['fecha'].touched" [@fadeInOut] class="xs-text error-color">Este campo es obligatorio</span>
        </div>
        <div class="input-field col s4">
          <select name="tipoOrden" class="browser-default" [formControl]="compraForm.controls['tipoOrden']">
            <option *ngFor="let tipoOrden of this.tiposOrdenesMercado" [ngValue]="tipoOrden">{{tipoOrden.name}}</option>
          </select>
          <label *ngIf="!compraForm.controls['tipoOrden'].value" for="tipoOrden">Seleccione un tipo de orden</label>
        </div>
        <div *ngIf="compraForm.controls['tipoOrden'].value && compraForm.controls['tipoOrden'].value.codigotporden === this.codigoTipoOrdenLimitada" class="input-field col s3">
          <input type="number"
                 id="precioTitulo"
                 name="precioTitulo"
                 [formControl]="compraForm.controls['precioTitulo']"
                 [pattern]="this.maxDecimalsPattern"
                 [step]="this.maxDecimals"
                 (blur)="onBlur('precioTitulo')"
                 (focus)="onFocus('precioTitulo', this)"
                 [ngClass]="{'invalid':!compraForm.controls['precioTitulo'].valid && compraForm.controls['precioTitulo'].touched, 'valid': compraForm.controls['precioTitulo'].valid && compraForm.controls['precioTitulo'].touched}">
          <label for="precioTitulo">Precio del título</label>
          <span *ngIf="!this.focusPrecioTitulo && compraForm.controls['precioTitulo'].errors && compraForm.controls['precioTitulo'].errors.required && compraForm.controls['precioTitulo'].touched" [@fadeInOut] class="xs-text error-color">Campo requerido</span>
          <span *ngIf="!this.focusPrecioTitulo && compraForm.controls['precioTitulo'].errors && compraForm.controls['precioTitulo'].errors.pattern && compraForm.controls['precioTitulo'].touched" [@fadeInOut] class="xs-text error-color">Número de decimales incorrecto</span>
        </div>
      </div>
      <div class="row">
        <input type="checkbox" name="ActivarPrecioActivacion" id="ActivarPrecioActivacion" [formControl]="compraForm.controls['inidicadorPrecioActivacion']">
        <label for="ActivarPrecioActivacion">Precio de activación</label>
      </div>
      <div class="row col s4 input-field" *ngIf="compraForm.controls['inidicadorPrecioActivacion'].value">
        <input type="number"
               id="precioActivacion"
               name="precioActivacion"
               [formControl]="compraForm.controls['precioActivacion']"
               [pattern]="this.maxDecimalsPattern"
               [step]="this.maxDecimals"
               (blur)="onBlur('precioActivacion')"
               (focus)="onFocus('precioActivacion', this)"
               [ngClass]="{'invalid':!compraForm.controls['precioActivacion'].valid && compraForm.controls['precioActivacion'].touched, 'valid': compraForm.controls['precioActivacion'].valid && compraForm.controls['precioActivacion'].touched}">
        <label for="precioActivacion">Precio de activación</label>
        <span *ngIf="!this.focusPrecioActivacion && compraForm.controls['precioActivacion'].errors && compraForm.controls['precioActivacion'].errors.required && compraForm.controls['precioActivacion'].touched" [@fadeInOut] class="xs-text error-color">Campo requerido</span>
        <span *ngIf="!this.focusPrecioActivacion && compraForm.controls['precioActivacion'].errors && compraForm.controls['precioActivacion'].errors.pattern && compraForm.controls['precioActivacion'].touched" [@fadeInOut] class="xs-text error-color">Número de decimales incorrecto</span>
      </div>
      <div class="col l12 right-align">
        <button class="btn waves-effect waves-light" type="submit" name="button" (click)="onSubmit()" [disabled]="!compraForm.valid">Continuar
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>
