.custom-padding-left {
  padding-left: 55px;
}

.xs-text {
  font-size: 0.8rem;
}

.error-color {
  color: #F44336;
}

.color-transparent {
  color: transparent !important;
}

.non-displayed {
  display: none;
}
