<div class="row">
  <div class="container-fluid">
    <h4 class="custom-padding-left-title">Información de bolsa</h4>
  </div>
  <div class="divider"></div>
  <div class="container-fluid custom-margin-table">
    <table-one [data]="this.infoBolsa"></table-one>
  </div>
</div>
