<nav>
    <div class="nav-wrapper  light-blue darken-3">
      <a href="#" class="brand-logo right">Angular2Project</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down custom-navbar">
        <li><a routerLink="/home" class="no-text-decoration no-color-hover">Home</a></li>
        <li><a routerLink="/compra" class="no-text-decoration no-color-hover">Compra</a></li>
        <li><a class="no-text-decoration no-color-hover">Venta</a></li>
      </ul>
    </div>
  </nav>
